{{- if ne .Release.Namespace "dev" }}
# ngrok Ingress Controller Configuration
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: gateway-ingress
spec:
  ingressClassName: traefik
  rules:
    - host: hex-a-gun.com
      http:
        paths:
          {{- if eq .Release.Namespace "prod" }}
          - path: /
          {{- else }}
          - path: /{{ .Release.Namespace }}
          {{- end }}
            pathType: Prefix
            backend:
              service:
                name: hexagun-gateway
                port:
                  number: {{ default "8091" .Values.port }}
{{- end }}
